<h1>Information compagnie</h1>
<div [formGroup]="companyForm">
  <input type="text" placeholder="Nom" class="input-field" formControlName='name'>
  <input type="text" placeholder="Adresse" class="input-field" formControlName='address'> <br>
  <input type="text" placeholder="N° téléphone" maxlength="15" class="input-field" formControlName='phone'>
</div>

<div class="margin" [@ngIfAnimation] AppScrollTo
  *ngIf="companyName?.valid && companyAddress?.valid && companyPhone?.valid && ctrl.storage.user().role == 'ADMIN'">
  <h1>Agence affiliée</h1>
  <app-agency-select-list [parentForm]="companyForm" controlName="agencyId"></app-agency-select-list>
</div>

<div mat-dialog-actions>
  <button mat-flat-button [@ngIfAnimation] *ngIf="companyForm.valid" class="btn-update"
    (click)="updateCompany()">Modifier</button>
  <button mat-button mat-dialog-close (click)="ctrl.storage.removeAction()">Fermer</button>
</div>
