<h1>Information tarif</h1>
<div [formGroup]="priceForm">
  <input type="text" placeholder="Description" class="input-field" formControlName='description'>
  <input type="number" placeholder="Majoration en %" class="input-field" formControlName='increased_price'>
</div>

<div mat-dialog-actions *ngIf="priceForm.valid" [@ngIfAnimation] AppScrollTo>
  <button mat-flat-button color="primary" *ngIf="action == 'add'" (click)="addPricing()">Ajouter</button>
  <button mat-flat-button class="btn-update" *ngIf="action == 'update'" (click)="updatePricing()">Modifier</button>
  <button mat-button mat-dialog-close (click)="ctrl.storage.removeAction()">Fermer</button>
</div>
