@use "~@angular/material" as mat;

@include mat.core();

$e-voyage12-primary: mat.define-palette(mat.$indigo-palette);
$e-voyage12-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$e-voyage12-warn: mat.define-palette(mat.$red-palette);

$e-voyage12-theme: mat.define-light-theme(
  (
    color: (
      primary: $e-voyage12-primary,
      accent: $e-voyage12-accent,
      warn: $e-voyage12-warn,
    ),
  )
);

@include mat.all-component-themes($e-voyage12-theme);

@import "./sass/colors.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica", "Arial", sans-serif;
}

.cursor-pt {
  cursor: pointer;
}

.error {
  color: $error;
}

section {
  margin: 40px;
}

.card-table {
  margin: 40px;
  padding: 20px 20px;
  justify-content: center;

  .table-header {
    color: $blue-travel;
  }

  .container-action {
    width: 150px;
    text-align: left !important;

    .delete {
      color: $error;
    }
  }
}

.input-field {
  font-weight: 500 !important;
  font-size: 16px;
  height: 35px;
  border: 1px solid $brow-theme;
  border-radius: 12px;
  outline: none;
  margin: 5px;
  min-width: 250px;
  padding-left: 15px;
  background: $white-change;
}

.input-select {
  font-weight: 500;
  font-size: 16px;
  height: 38px;
  border: 1px solid $brow-theme;
  border-radius: 12px;
  margin: 5px;
  outline: none;
  min-width: 250px;
  padding-left: 13px;
  width: 270px;
}

.input-field:focus {
  border: 1px solid $blue-travel;
}
