@use '~@angular/material' as mat;

@include mat.core();

$e-voyage12-primary: mat.define-palette(mat.$indigo-palette);
$e-voyage12-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$e-voyage12-warn: mat.define-palette(mat.$red-palette);

$e-voyage12-theme: mat.define-light-theme(
  (
    color: (
      primary: $e-voyage12-primary,
      accent: $e-voyage12-accent,
      warn: $e-voyage12-warn,
    ),
  )
);

@include mat.all-component-themes($e-voyage12-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica", "Arial", sans-serif;
}

.container {
  position: relative !important;
  width: 100%;
  font-size: 36px;
  min-height: calc(100vh - 64px);

  @media (max-width: 475px) {
    min-height: calc(100vh - 56px);
    padding-top: 56px;
  }

  .form-container {
    transition: all 0.3s ease;
    display: flex;
    text-align: center;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: calc(30vh - 100px) 0 calc(50vh - 100px);
  }
}
